<button><a href="/ideas">Back to Ideas</a></button>
<button><a href="/users/logout">Logout</a></button>
<br><br>
<h3>Name: <%= @user.name %></h3>
<h3>Alias: <%= @user.alias %></h3>
<h3>Email: <%= @user.email %></h3>
<br><br>
<h3>Total Number of Posts: <%= @user.total_posts %></h3>
<h3>Total Number of Likes: <%= @user.total_likes %></h3>
